.home-title {
    font-family: 'Garamond', serif; /* Different font */
    color: #e6f2ff; /* Background color */
    font-size: 5rem; /* Larger size */
    text-align: center; /* Centered text */
  }